.quizContainer{
    width: 53%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 30px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.quizContainer h2{
    font-size: 24px; 
    line-height: 1.5; 
    word-wrap: break-word;
    margin-top: 50px;
}
.quizContainer button{
    background-color: white;
    width: 250px;
    font-size: 15px;
    border: 1px solid #1d3c6a;
    border-radius: 10px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}
.quizContainer .progressBar{
    margin-top: 50px;
}
.resultsContainer{
    width: 53%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.quizContainer .nextBtn{
    width: 300px;
    color: white;
    background-color: black;
}
.quizContainer .nextContainer{
    width: 50%;
    margin: 0 auto;
}
.quizContainer .crAns{
    text-align: center;
    color: green;
}
.quizContainer .wrAns{
    text-align: center;
    color: red;
}
.progress-container {
    border: 1px solid transparent;
    width: 520px;
    height: 32px;
    border-radius: 30px;
    position: relative;
    display: inline-block;
  }
  .progressInner {
    height: 100%;
    height: 30px;
    display: inline-block;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
  }
  .progress-red {
    background-color: #f8a46b;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .progress-orange {
    background-color: #febd5c;
    position: absolute;
    left: 49%;
  }
  .progress-yellow {
    background-color: #f6e763;
    position: absolute;
    left: 64%;
    z-index: -6;
  }
  .progress-green {
    background-color: #bae17c;
    position: absolute;
    left: 74%;
    z-index: -9;
  }
  